<h1>Your message has been sent!</h1>
<table border="2px solid black">
	<tr>
		<th>Name</th>
		<td><%=name%></td>
	</tr>
	<tr>
		<th>Email</th>
	</tr>
	<tr>
		<th>Message</th>
	</tr>
	<tr>
		<th>Time</th>
	</tr>
</table>