<link href="/home.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<body>


<div class="form">
	<h1>Leave a message</h1>
<form>
	<p>
		<label for="name">Name : </label>
		<input type="text" placeholder="name" id="name">	
	</p>

	<p>
		<label for="email">Email : </label>
		<input type="text" placeholder="email" id="email">	
	</p>
	<p>
		<label for="msg" class="msg">Messege</label>
		<br>
		<br>
		<textarea id="msg" cols="40" rows="10" placeholder="write a message here"></textarea>
	</p>
	<button>
		Submit!
	</button>
	

	
</form>
</div>

</body>
